<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>照片</string>
		<key>image</key>
		<string>aio_icons_pic</string>
		<key>image_hl</key>
		<string>aio_icons_pic_disable</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拍照</string>
		<key>image</key>
		<string>aio_icons_camera</string>
		<key>image_hl</key>
		<string>aio_icons_camera_disable</string>
	</dict>
	<dict>
		<key>title</key>
		<string>视频</string>
		<key>image</key>
		<string>aio_icons_video</string>
		<key>image_hl</key>
		<string>aio_icons_video_disable</string>
	</dict>
</array>
</plist>
